body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:60px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:360px;
  height:580px;
}
#u592_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:580px;
  overflow:auto;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:24px;
  width:33px;
  height:26px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
