body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:641px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:169px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:360px;
  height:169px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:170px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:0px;
  width:316px;
  height:170px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
