body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:777px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:777px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:380px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
