body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:538px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:171px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:171px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:171px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:0px;
  width:218px;
  height:171px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:78px;
  width:214px;
  visibility:hidden;
  word-wrap:break-word;
}
