body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:347px;
}
#u313 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:347px;
}
#u314 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:166px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:347px;
  width:360px;
  height:508px;
}
#u315_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:508px;
  overflow:auto;
}
