body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2146px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:360px;
  height:2146px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1065px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
