body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1884px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:360px;
  height:1884px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:934px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
