body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:56px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:1840px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-59px;
  width:360px;
  height:1840px;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:912px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:360px;
  height:169px;
}
#u201_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:169px;
  overflow:auto;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:269px;
  width:360px;
  height:169px;
}
#u202_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:169px;
  overflow:auto;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:484px;
  width:360px;
  height:169px;
}
#u203_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:169px;
  overflow:auto;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:704px;
  width:360px;
  height:169px;
}
#u204_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:169px;
  overflow:auto;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:924px;
  width:360px;
  height:169px;
}
#u205_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:169px;
  overflow:auto;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1143px;
  width:360px;
  height:169px;
}
#u206_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:169px;
  overflow:auto;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1365px;
  width:360px;
  height:169px;
}
#u207_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:169px;
  overflow:auto;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1584px;
  width:360px;
  height:169px;
}
#u208_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:169px;
  overflow:auto;
}
